/* commented these out to work on styled components. kept some styling like img size -leon */
/* .issue-card {
    border: solid 1px #c1c1c1;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.issue-title {
    margin-left: 45px;
}
.issue-description {
    max-width: 50%;
    padding-left: 45px;
}

img {
    max-width: 100%;
    height: auto;
}

.issue-img-ctn {
    max-width: fit-content;
    height: auto;
    width: 200px;
    max-height: 200px;
    margin: 3px;
    padding: 3px;
    display: flex;
    margin-right: 20px

} */

